<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/99352e98c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="dist/output.css">
    <script src="public/js/nav.js"></script>
    <title>Document</title>
</head>
<body class="bg-custom_black text-custom_white font-sans">
    <div class="nav-main mx-14 mt-6 flex flex-row justify-center items-center border-2 border-solid border-custom_border rounded-full mobile:mx-5" n>
        <h1 class="text-3xl font-bold m-3 text-custom_white laptop:text-2xl tablet:text-xl mobile:relative right-8">Pic Uploader</h1>
        <div class="flex flex-row justify-end w-3/4 m-5 laptop:w-[60vw] tablet:w-[40vw] mobile:w-[20vw] justify-center">
            <button type="button" class="invisible mobile:visible relative left-[60px] " onclick="toggleMenu();">
                <i class="fas fa-align-justify"></i>
            </button>
            <div class="nav-links flex flex-row mobile:invisible hidden mobile:flex-col justify-center items-center relative top-[100px] right-[16vw]">
                <form action="/contact" method="POST"><button class="contact text-xl rounded-md mr-10 text-custom_white hover:text-slate-400 laptop:mr-7 tablet:text-xl mobile:justify-center items-center border-b-2 border-custom_border">Contact</button></form>
                <form action="/" method="get"><button class="login text-lg rounded-md text-custom_white  hover:text-slate-400 tablet:text-xl mobile:justify-center items-center border-b-2 border-custom_border relative right-4 ">Login</button></form>
            </div>
        </div>
    </div>
    <h1 class="mt-8 text-xl mb-4 flex justify-center border-2 border-custom_border rounded-full font-bold px-5 mx-[38vw] py-2">Signup</h1>
    <div class="mx-5 flex items-center justify-center">
        <form action="/senddata" method="POST">
            <div class="flex flex-row mb-5 mobile:flex-col mb-2 "><div class="w-[150px] flex items-center mobile:mb-3"> Enter First Name*:</div> <input name="firstname" type="text" placeholder="First Name" class="border-2 border-custom_border bg-custom_black rounded-full py-3 px-8" required></div><br>
            <div class="flex flex-row mb-5 mobile:flex-col mb-2 "><div class="w-[150px] flex items-center mobile:mb-3"> Enter Last Name: </div><input name="lastname" type="text" placeholder="Last Name" class="border-2 border-custom_border bg-custom_black rounded-full py-3 px-8"></div><br>
            <div class="flex flex-row mb-5 mobile:flex-col mb-2 "><div class="w-[150px] flex items-center mobile:mb-3"> Enter email*:</div> <input name="email" type="email" placeholder="xyz@gmail.com" class="border-2 border-custom_border bg-custom_black rounded-full py-3 px-8" required></div><br>
            <div class="flex flex-row mb-5 mobile:flex-col mb-2 "><div class="w-[150px] flex items-center mobile:mb-3"> Enter Number*: </div><input name="number" type="text" placeholder="1234567890" class="border-2 border-custom_border bg-custom_black rounded-full py-3 px-8" required></div><br>
            <fieldset>
            <div class="flex flex-row mb-5 mobile:flex-col mb-2 "><div class="w-[150px] flex items-center mobile:mb-3"> Enter gender*:</div> <input type="radio" value="Male" class="border-2 border-custom_border bg-custom_black rounded-full  relative top-5 right-16" name="gender" required>Male  <input type="radio" name="gender" class="border-2 border-custom_border bg-custom_black rounded-full ml-2 flex items-center relative top-5 right-16" value="Female" required>Female</div>
            </fieldset>
            <div class="flex flex-row mb-5 mobile:flex-col mb-2 "><div class="w-[150px] flex items-center mobile:mb-3"> Create password*: </div><input name="password" type="password" placeholder="password" class="border-2 border-custom_border bg-custom_black rounded-full py-3 px-8" required></div><br>
            <div class="flex flex-row mb-5 mobile:flex-col mb-2 "><div class="w-[150px] flex items-center mobile:mb-3"> Repeat password*: </div><input name="confirmpassword" type="password" placeholder="password" class="border-2 border-custom_border bg-custom_black rounded-full py-3 px-8" required></div><br>
            <div class="flex flex-row mb-5 mobile:flex-col mb-2 "><div class="w-[150px] flex items-center mobile:mb-3"> Recovery code*: </div><input minlength="4" name="recoveryCode" type="password" placeholder="Recovery Code" class="border-2 border-custom_border bg-custom_black rounded-full py-3 px-8" required></div><br>
            <div class="flex items-center justify-center"><button class="btn btn-primary signup border-2 border-custom_border rounded-full py-3 px-8">Signup</button></div>
            <div class="flex flex-row my-5 items-center justify-center"><b class="mr-3">Note:</b> <div>Never lose your recovery code.</div></div><br>
        </form>
    </div>
    <footer class="flex items-center justify-center mb-3">
        Designed and Built by <b class="ml-2">Aaron Nazareth</b>
    </footer>
</body>
</html>