.main_heading{
    color:white;
    text-align: left;
    }    

h1{
    font-weight: bolder;
    font-size: 50px;
    margin:10px;
    color: white;
}

.contact{
    font-weight: bolder;
    font-size: 40px;
    margin:10px;
    color: white;
}

.main{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px 0px ;
  margin-top: 80px;
}

.foot{
    font-size: medium;
    color:white;
    padding: 0px 15px;
    margin-top: 380px;
    text-align:center;
    padding-top: 119px;
}

.text{
    margin: 15px;
    font-size: 30px;
    vertical-align: middle;
}

.fields{
    padding: 5px 20px;
    background: transparent;
    border: transparent;
    border-bottom: 3px solid rgb(46, 38, 38);
}

.submit{
    margin-left: 10px;
    padding: 5px 100px;
}

.fields:hover{
    background-color: white;
    padding-top: 20px;
    border: transparent;
}

.message{
    padding:50px;
    background: transparent;
    border:transparent;
    border-bottom: 3px solid rgb(46, 38, 38);
}

.message:hover{
    background-color: white;
}

.send{
    padding:10px 100px;
    margin-top: 10px;
}

body{
    background-image:url(/images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}