h1{
    margin: 50px;
    text-align: center;
}

.main{
    font-size: xx-large;

}

.fields{
    padding: 10px 15px;
    background: transparent;
    border:transparent;
    border-bottom: 3px solid rgb(39, 33, 33);
}

.button{
    padding:0px 20px
}

body{
    background-image:url(/images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}