body{
    background-image:url(/images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
    text-align: center;
}

.fields{
    border-radius: 5px;
    padding:2px;
    margin:5px;  
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.main{
    text-align: center;
    margin-right: 50px; 
    color:white;
    border: 10px;
    border-radius: 20px;
    padding: 50px 30px ;
    box-shadow:black;
    display:flex;
    align-items: center;
    justify-content: center;
}

.signup{
    margin:10px;
    padding:10px 100px;
}

.foot{
    font-size: medium;
    color: rgb(72, 0, 255);
    padding: 40px 15px;
    margin-bottom: 20px ;
    text-align:center;
    padding-top: px;
    margin-top: 30px;
}