body{
    background-image:url(/images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_heading{
    color:white;
    text-align: left;
    }
    

h1{
    color: white;
    text-align: center;
}

.text{
    text-align: left;
    margin:10px;
}

.main{
   color:white;
   text-align: center;
   margin-left: 475px;
   
}

.fields{
    background: transparent;
    border:transparent;
    border-bottom: 1px solid black;
    margin-left: 10px;
}

.fields:hover{
    background: white;
}

.fields:active{
    background:white;
}

.signup{
    margin:10px;
    padding:10px 100px;
}

.foot{
    font-size: medium;
    color:white;
    padding: 40px 15px;
    margin-bottom: 20px ;
    text-align:center;
    padding-top: px;
    margin-top: 30px;
}