.main_heading{
color:blanchedalmond;
text-align: left;
}

.fields{
    color:grey;
    font-size: medium;
    text-align: left;
    margin-left: 45px;
}

body{
    text-align: center;
    color: blanchedalmond;
    font-size: larger;
    background-image:url(/images/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.foot{
    font-size: medium;
    color: rgb(72, 0, 255);
    padding: 40px 15px;
    text-align: center;
}

.fp{
    font-size: small; 
    border-radius: 20px;
    border: transparent;
    color:grey;
    font-size: small;
}

.fp:hover{
    color: red;
}

.button{
    padding: 10px 100px;
    border-radius: 10px;
    margin:5px;
    font-size: medium;
}

.newfield{
    margin-bottom: 0px;
    color:grey;
    font-size: small;
}

.button{
    margin: 20px 0px;
    border-radius: 30px;
    background-color: rgb(203, 57, 57);
    padding:10px 160px;
    font-size:x-large;
}

html.fa-events-icons-loading body {
    display: none;
}

.input1{
    background-color: #000;
    color: #fff;
    opacity: .3;
    margin: 20px 0px;
    border-radius: 30px;
    text-transform: none;
    font-family: fontawesome;
    font-style: normal;
    text-decoration: inherit;
    text-transform: revert;
}

#logbg{
    background:transparent;
    position:static;
    top:50%;
    left:50%;
    font-size: xx-large;
}
  .input1::placeholder {
    color: rgb(218, 211, 211);
  }