.heading{
    color: white;
    text-align: center;
}

.fields{
    color:grey;
    font-size: medium;
    text-align: left;
    margin-left: 45px;
}

body{
    text-align: center;
    color: rgb(14, 14, 58);
    font-size: larger;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(109,255,242,1) 50%, rgba(252,176,69,1) 100%);
}

.foot{
    font-size: medium;
    color: rgb(72, 0, 255);
    padding: 40px 15px;
    text-align: center;
}

.fp{
    font-size: small; 
    border-radius: 20px;
    border: 10p;
}

.su{
    padding: 10px;
    font-size: small;
}

.newfield{
    margin-bottom: 0px;
    color:grey;
    font-size: small;
}

.button{
    margin: 20px 0px 0px 0px;
}

.input1{
    padding: 8px;
    border-radius: 10px;
    margin: 0px 20px;
    margin-bottom: 20px;
}

.input2{
    padding: 8px;
    border-radius: 10px;
    margin: 0px 20px;
}

#logbg{
    background-color: white;
    padding:60px;
    border-radius: 30px;
    margin:0px 420px;
}